body {
	font-family: "Arial";
	padding: 5px;
	font-size: 12px;
	overflow-y: hidden;
}

img {
	display: block;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width:80%;
  }

.detectionHelper, .severityHelper, .occurrenceHelper {
	font-size: 0.9em;
}

.occurrenceHelper h2, .severityHelper h2, .detectionHelper h2 {
	color: #999;
}

td.selected {
	box-shadow: 0px 0px 20px Gold;
	border: 1px solid Gold !important;
	background-color: Gold;
}

td.error {
	box-shadow: 0px 0px 20px #CC0000;
	border: 1px solid #CC0000 !important;
	background-color: #CC0000;
}

table {
	border-collapse: collapse;
	font-size: 1em;
	margin: auto;
	margin-top: 10px;
}

tr {
	border-bottom: 1px solid white;
}

td {
	border-left: 1px solid white;
	color: #333;
	width: 50px;
	text-align: center;
	padding: 2px 8px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.25s;
	-ms-transition-property: all;
	-ms-transition-duration: 0.25s;
	transition-property: all;
	transition-duration: 0.25s;
}

td:last-child {
	border-right: 1px solid white;
}

tr:first-child td {
	border-top: 1px solid white;
}

tr:first-child .no-show {
	border: none;
	border-top: none;
	background-color: white;
}

tr:first-child {
	background-color: #FFF69B;
}

.occurrence, .severity {
	background-color: #F2BCBC;
}

.warning.warning {
	border: 1px solid rgb(255, 196, 0);
	background-color: #FFFF99;
}

.status.correct {
	border: 1px solid rgb(0, 152, 0);
	background-color: #BBEE99;
}

.status.incorrect {
	border: 1px solid rgb(152, 32, 32);
	background-color: #DD8888;
}


.buttonSpace {
	margin-top:10px;
	margin-right:10px;
	margin-bottom: 10px;
}

.warning {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(240, 250, 255);
	border: 1px solid rgb(149, 204, 232);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.25s;
	-ms-transition-property: all;
	-ms-transition-duration: 0.25s;
	transition-property: all;
	transition-duration: 0.25s;
}

.status {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(240, 250, 255);
	border: 1px solid rgb(149, 204, 232);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.25s;
	-ms-transition-property: all;
	-ms-transition-duration: 0.25s;
	transition-property: all;
	transition-duration: 0.25s;
}

.buttonWidgets {
	font-size:12px;
	display: block;
	width: 100%;
	padding: 10px 10px;
	cursor: pointer;
	text-align: center;
}

.status .incorrectTitle {
	font-style: italic;
	padding-top: 5px;
	cursor: pointer;
}

.status .incorrectTitle:hover {
	text-decoration: underline;
	color: #FEDDA8;
}


